/* Общие стили для центрирования */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f2f5; /* Светло-серый фон */
    display: flex;
    flex-direction: column;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Контейнер всей формы */
.auth-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Чтобы на компе не было слишком широко */
    text-align: center;
    margin: 50px auto;
}

h2 {
    color: #333;
    margin-bottom: 25px;
}

/* Стили полей ввода */
input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box; /* Чтобы паддинги не раздували инпут */
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4CAF50; /* Зеленый цвет при нажатии */
    outline: none;
}

/* Кнопка */
button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Ссылки переключения */
p {
    margin-top: 20px;
    color: #666;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


#statusMessage {
    min-height: 20px; /* Чтобы текст не «дергал» форму при появлении */
    margin-top: 15px;
    font-size: 14px;
}

/* Адаптивность для мобилок */
@media (max-width: 480px) {
    .auth-container {
        width: 90%;
        padding: 25px;
    }
}

.main-header {
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
    
}

.main-header nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;    
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 0%;
}

.main-header .logo {
    font-family: arial;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main-header .logo:hover {
    color: #242424;
    text-decoration: none;
}

.main-header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-header nav ul li {
    margin-left: 25px;
    font-family: arial;
}

.main-header nav ul li a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.main-header nav ul li a.login {
    color: white;
    background: #6D7546;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}